#header {
    position: relative; box-shadow: 0 0 3px #989898; z-index: 80;
    a { transition: all 0.2s; }
    .brand {
	.logo {
	    margin: 5px 0;
	    a {
		display: block; height: 70px; width: 74px; background: url('../img/logo.png') no-repeat center center transparent; overflow: hidden; text-indent: 999px;
	    }
	}
    }
}
#menu {
    margin-left: 60px;
    ul {
	li {
	    line-height: 80px; padding: 0 10px; font-size: 18px;
	    a {
		color: @gray; text-decoration: none;
		&:hover { color: @green; }
	    }
	    &.active {
		a {
		    color: @green;
		    &:hover { color: darken(@green, 10%); }
		}
	    }
	}
    }
}