.panel {
    border: 0 none; border-radius: 0; box-shadow: 0 0 0 transparent; margin-bottom: 10px; background: transparent;
    .panel-title {
        position: relative; font-weight: bold;
	h2 { margin-top: 0; margin-bottom: 20px; }
	a { transition:  0.2s all; outline: 0 none; }
	input {  }
    }
    .panel-body {
	padding: 0; position: relative; clear: both;
	.item { position: relative; }
    }
    .panel-footer {
	background: transparent; position: relative; border: 0 none; margin: 0; padding: 0;
    }
    .img {
	& > a { display: block; width: 100%; }
    }
    // Panel Types
    &.tiles {
	margin-bottom: 0;
	ul {
	    margin-bottom: 0; list-style: none; padding: 0;
	    li {
		margin-bottom: @grid-gutter-width;
		figure {
		    border: 3px solid @green;
		    & > a, & > img {
			display: block; min-height: 50px;
		    }
		    figcaption {
			text-align: center; background: @white;
			& > a {
			    color: @green; padding: 6px 0; display: block;
			    &:hover, &:focus, &:active {
				text-decoration: none; color: @green;
			    }
			    span {
				display: block;
				&.title { font-weight: bold; font-size: 16px; line-height: 32px; }
				&.desc { color: @gray; line-height: 24px; font-size: 13px; }
			    }
			}
		    }
		}
		&:hover {
		    figure {
			border-color: @grayLight;
		    }
		}
	    }
	}
    }
    &.showcase {
	margin: @grid-gutter-width 0;
	ul {
	    li {
		position: relative;
		figure {
		    & > a, & > img {
			display: block;
		    }
		    figcaption {
			width: 60%; margin-left: 5%; position: absolute; bottom: 10%; left: 0; background: rgba(0, 0, 0, 0.7); 
			h3 {
			    margin: 0;
			    a {
				display: block; color: #fff; text-decoration: none; padding: 20px;
				span {
				    display: block;
				    &.title { margin-bottom: 10px; }
				    &.desc { font-size: 14px; }
				}
			    }
			}
		    }
		}
	    }
	}
    }
    &.blogs {
	.item {
	    .dl-horizontal {
		dt {
		    width: 120px;
		}
		dd {
		    margin-left: 120px;
		}
	    }
	    .user {
		text-align: center;
		& > a {
		    display: block; color: @white;
		    span {
			display: block;
			&.img { width: 80px; height: 80px; background: tomato; margin: 10px auto; border-radius: 100px; overflow: hidden; }
			&.name { font-weight: normal; }
		    }
		}
	    }
	    .content {
		position: relative;
		.popover {
		    position: relative;
		    & > .arrow { top: 20%; }
		}
		h3 {
		    margin-top: 5px; font-size: 18px;
		    a { color: @green; }
		}
		p { font-size: 13px; }
	    }
	}
    }
}