.panel {
    border: 0 none; border-radius: 0; box-shadow: 0 0 0 transparent; margin-bottom: 10px; background: transparent;
    .panel-title {
        position: relative; font-weight: bold;
	a { transition:  0.2s all; outline: 0 none; }
	input {  }
    }
    .panel-body {
	padding: 0; position: relative; clear: both;
	.item { position: relative; }
    }
    .panel-footer {
	background: transparent; position: relative; border: 0 none; margin: 0; padding: 0;
    }
    .img {
	& > a { display: block; width: 100%; }
    }
    
    // Panel Types
    &.tiles {
	margin-bottom: 0;
	ul {
	    margin-bottom: 0; list-style: none; padding: 0;
	    li {
		margin-bottom: @grid-gutter-width;
		figure {
		    border: 3px solid @green;
		    & > a, & > img {
			display: block; min-height: 50px;
		    }
		    figcaption {
			text-align: center; background: @white;
			& > a {
			    color: @green; padding: 6px 0; display: block;
			    &:hover, &:focus, &:active {
				text-decoration: none; color: @green;
			    }
			    span {
				display: block;
				&.title { font-weight: bold; font-size: 16px; line-height: 32px; }
				&.desc { color: @gray; line-height: 24px; font-size: 13px; }
			    }
			}
		    }
		}
		&:hover {
		    figure {
			border-color: @grayLight;
		    }
		}
	    }
	}
    }
}