// Colors
@white: #fff;
@green: #009e94;
@lightGray: #EFEFEF;
@gray: #666;
@pageBackground: #e1e1e1;
@red: #E74C3C;

// Font family
@fontFamily: 'Noto Sans', Arial, Tahoma;

// Borders
@borderRadius: 5px;
@borderRadiusBottom: 0 0 5px 5px;
@borderRadiusTop: 5px 5px 0 0;

// Sizes
@headerHeight: 80px;

// Margins
@marginTopdefault: 40px;
@marginBottomDefault: 60px;